body {
    height: 100%
}
#root {
    height: inherit;
    display: flex;
    flex-direction: column;
}

#main_content {
    height: 100%;
}

#control_bar_nav {
    width: 100%;
    background-color: black;
}

.euiTitle--small {
    width: 100%;
}

.euiCard__titleButton {
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
}

.center_text {
    margin-left: auto;
    margin-right: auto;
}

.control_bar_item {
    margin-left: auto;
    margin-right: auto;
}

.set_select_card {
    height: 40vh;
    max-height: 600px;
}

.set_select_card_desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

.swiper-slide {
    height: 45vh;
}