.euiTitle--small {
    width: 100%;
}

.euiCard__titleButton {
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
}

.control_bar_item {
    margin-left: auto;
    margin-right: auto;
}